@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .logo-header {
        height: 3rem;
    }

    #dados-usuario {
        width: 100%;
    }

    #pagamento-entrega {
        width: 100%;
    }

    #produtos-checkout {
        width: 100%;
    }

    #form-checkout {
        flex-direction: column;
    }

  }